/* Universal styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif; /* Global font-family */
}

/* Navbar styles */
.navbar {
    height: 10vh; /* Height of the navbar set to 10% of viewport height */
    padding-top: 0.5rem; /* Optional: Adjust padding for better alignment */
    padding-bottom: 0.5rem; /* Optional: Adjust padding for better alignment */
    display: flex;
    align-items: center; /* Vertically center items in navbar */
    justify-content: space-between; /* Space between brand and navbar items */
}

.navbar-brand {
    font-size: 1.5rem; /* Optional: Adjust brand font size */
}

.navbar-nav {
    display: flex;
    gap: 1rem; /* Optional: Space between navbar items */
}

.nav-item {
    font-size: 1.1rem; /* Optional: Adjust font size for nav items */
}

/* Example for adding hover effect on nav links */
.nav-link:hover {
    color: #0056b3; /* Optional: Change color on hover */
}

/* Responsive adjustments */
@media (max-width: 992px) {
    .navbar {
        height: auto; /* Allow navbar to adjust height on smaller screens */
    }
}

.faq-section {
    max-width: 800px;
    margin: auto;
}

.accordion-item {
    margin-bottom: 20px;
    border-radius:  0 !important;

}

.accordion-button {
    background-color: #f8f9fa;
    border: none;
    border-bottom: 1px solid #dee2e6;
    border-radius: 0 !important;
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
    color: #343a40;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
    
}

.accordion-body {
    border-left: 3px solid rgb(57, 149, 57);
    padding: 10px 15px;
    margin-left: 0;
    background-color: #f8f9fa;
}

.accordion-button:not(.collapsed) {
    background-color: rgb(57, 149, 57);
    color: #FFF;
}
.accordion-button:hover {
    background-color: rgb(57, 149, 57) ;
    color: #FFF;
}

footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #41482B;
} 

#footer ul.list-unstyled li a {
    color: #ffffff;
    text-decoration: none;
}

#footer ul.list-unstyled li:hover a {
    color: #DDB365 ;
}